<div class="sidenav" *ngIf="authService.isAuthenticated()">
  <!-- <a href="http://localhost:8000/">Admin</a> -->
  <a routerLink="/hr/home">Human Resources</a>
  <a routerLink="/manager/home">Manager</a>
  <a routerLink="#chief">Chief</a>
  <a routerLink="#analyst">Analyst</a>
  <a routerLink="/about">About</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/login" (click)="logOut()">Log Out</a>
  <a routerLink="/me/make-request">make request</a>
</div>

<div class="main">
  <div>
    <router-outlet></router-outlet>
    <site-chat></site-chat>
  </div>
</div>