<div class="sidenav" *ngIf="authService.isAuthenticated()">
  <a routerLink="/admin">Admin</a>
  <a routerLink="/hr/home">Human Resources</a>
  <a routerLink="#manager">Manager</a>
  <a routerLink="#chief">Chief</a>
  <a routerLink="#analyst">Analyst</a>
  <a routerLink="/about">About</a>
  <a routerLink="/login">Login</a>
  <a routerLink="" (click)="logOut()">Log Out</a>
</div>

<div class="main">
  <!-- header -->

  <div>

    <router-outlet></router-outlet>
    <site-chat></site-chat>
  </div>

  <!-- <footer class="footer">
    Hector Rosales © Human Resources. All rights reserved.
  </footer> -->
</div>