#bg{      
    height: 100vh;
    width: 100vw;
    background: url(http://romston.com/wp-posts/12-01-13-Oops_you_found_a_dead_link_404_html_page_error_nice_idea/Oops_you_found_a_dead_link_404_html_page_error_nice_idea_Img01.jpg);
    background-size: cover;
  }