<div class="row">

  <!-- menu -->
  <div class="col-sm-2 bg-dark">
    <div class="container-fluid">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="/hr/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- content -->
  <div class="col-lg-6">
    should have:
    <ul>
      <li>can CRUD employees</li>
    </ul>
  </div>

</div>