<!-- <core-entity-details>
</core-entity-details> -->
<div *ngIf="employee">
    <h1>Username: {{employee.username}}</h1>

    <div class="btn-group" ngbDropdown role="group">

        <h3>Department:</h3>
        <button class="btn btn-outline-primary ml-3" ngbDropdownToggle>{{getEmployeeDepartmentName()}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <span *ngFor="let department of departments">
                <button ngbDropdownItem (click)="updateSelectedDepartment(department)">{{ department.name }}</button>
            </span>
        </div>
    </div>

    <div class="btn-group" ngbDropdown role="group">

        <h3>Job:</h3>
        <button class="btn btn-outline-primary ml-3" ngbDropdownToggle>{{getEmployeeJobName()}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <span *ngFor="let job of jobs">
                <button ngbDropdownItem (click)="updateSelectedJob(job)">{{ job.name }}</button>
            </span>
        </div>
    </div>

    <button *ngIf="needUpdate" (click)="saveChanges()">Save</button>

    <!-- <button (click)="sendWorkRecord()">Send Work Record</button> -->
</div>