<p>
  request-absence works!
</p>

<div class="btn-group" ngbDropdown role="group">
  <h3>Type:</h3>
  <button class="btn btn-outline-primary ml-3" ngbDropdownToggle>{{absenceType}}</button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button ngbDropdownItem (click)="setAbsenceType('Vacation')">Vacation</button>
    <button ngbDropdownItem (click)="setAbsenceType('Permission')">Permission</button>
    <button ngbDropdownItem (click)="setAbsenceType('Absence')">Absence</button>
  </div>
</div>

<dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" [(ngModel)]="startAbsence">
</dl-date-time-picker>

<dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" [(ngModel)]="finishAbsence">
</dl-date-time-picker>

Range: {{startAbsence}}~{{finishAbsence}}

<button (click)="submitAbsenceRequest()">Submit</button>